// custom centered 'vs' icon in pro / con area
.vs {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: $green;
    background: var(--green);
    display: block;
    text-align: center;
    color: white;
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0 auto;
    position: absolute;
    top: 12rem;
    left: calc(50% - 40px);
}

@media screen and (max-width: $small-desktop) {

    .vs {
        height: 60px;
        width: 60px;
        font-size: 30px;
        line-height: 60px;
        left: calc(50% - 30px);
        top: 11rem;
    }
}

// pro / con list styling
#sugaringVsWaxing {
    .fl-list-item-icon {

        @media screen and (max-width: $tablet) {
            font-size: 16px;
        }

        @media screen and (max-width: $phone) {
            font-size: 16px;
        }
    }
}

// svg image
#growthCycleDiagram {

    .phase-bg {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

// tabbed content
#growthCycleTabs {
    .fl-tabs {
        .fl-tabs-labels {
            a {
                background: $offwhite;
                background: var(--offwhite);
                margin-bottom: 2rem;
                position: relative;

                &.fl-tab-active {
                    background: #D1C0A8;

                    &:after {
                        right: 3.2rem;
                        width: 2rem;
                        color: $brown;
                        color: var(--brown);
                        content: "—";
                    }
                }

                &:after {
                    content: '+';
                    display: block;
                    position: absolute;
                    margin: auto;
                    right: 3rem;
                    width: 2rem;
                    top: 1rem;
                    font-weight: 100;
                    color: $green;
                    color: var(--green);
                    text-align: center;
                }
            }

            .fl-tabs-label {
                position: relative;
                transition: all 0.3s ease-in-out;
                @media (max-width: $small-desktop) {
                    font-size: 26px;
                }
            }

            .phase-number {
                background: $green;
                background: var(--green);
                font-size: 2.2rem;
                width: 3.8rem;
                height: 3.8rem;
                display: block;
                position: absolute;
                top: 1.6rem;
                left: 150px;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                line-height: 3.8rem;

                @media (max-width: $small-desktop) {
                    font-size: 18px;
                    line-height: 3rem;
                    left: 110px;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        
        .fl-tabs-panel {
            margin-left: 4rem;
            
            h4 {
                font-size: 34px;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 0;

                @media (max-width: $small-desktop) {
                    font-size: 28px;
                }

                @media (max-width: $tablet) {
                    font-size: 24px;
                }

                strong {
                    font-size: 26px;
                    text-transform: capitalize;
                    font-weight: bold;

                    @media (max-width: $tablet) {
                        font-size: 20px;
                    }
                }
            }
        }

        .fl-tabs-panel-content {
            &.fl-tab-active {
                background: $offwhite;
                background: var(--offwhite);
                padding: 2rem 3rem;
            }
        }

        .fl-tabs-panel-label {
            span {
                pointer-events: none;
            }
        }
    }
}
