body:not(.fl-builder-edit) {
    .sc-product-container > .fl-col-content {
        position: relative;
        
        // hover effect to position the description on top
        @media (min-width: $tablet) {

            .sc-product-description {
                position: absolute;
                background: #7B5C4F;
                color: #fff;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s ease-in-out;
                display: flex;
                flex-wrap: wrap;

                .fl-module-content {
                    align-self: center;
                }
            }
        
            &:hover {
                .sc-product-description {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}