::selection {
    background: var(--green);
    color: white;
}

* {
    word-wrap: normal;
}

.position-relative {
    position: relative;
}

.z-index-bump {
    z-index: 10;
    position: relative;
}

.two-column-width {
    .fl-module-rich-text,
    .fl-module-button {
        max-width: 550px;
        margin: 0 auto;
    }
}

.fl-module-list.bullet-top {
    .fl-list {
        .fl-list-item-heading-icon {
            display: block;

            i.fl-list-item-icon {
                display: inline;
                vertical-align: unset;
            }
        }
        
    }
}